/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    /* position: sticky; */
    display: flex;
    position: relative;
    align-items: center;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation  Bar: Logo and Images */
#logo {
    margin: 10px 32px;
}

#logo img {
    height: 75px;
    margin: 3px 6px;
    cursor:pointer;
}

/* Navigation  Bar: List styling */
#navbar ul {
    display: flex;
}


#navbar ul li {
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {

    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

/* Home Section */
#home {
    display: flex;
    height: 550px;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: "";
    background: url(../images/bg6.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
}

#home p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* /Services Section */
#services {
    margin: 7px;
    display: flex;
}

#services .box p {
    font-family: 'Ubuntu', sans-serif;
}

#services .box {
    border: 2px solid brown;
    padding: 34p;
    margin: 3px 4px;
    background: #f2f2f2;
    border-radius: 23px;
    margin-bottom: 20px;

}

#services .box img {
    display: block;
    margin: auto;
    height: 160px;
}

/* Client Services */

#client-section {
    height: 344px;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("../images/bg2.jpg");
    height: 54%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
}


#clients {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 130px;
}

/* Conact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
    background: url("../images/contactus.jpeg") no-repeat center center/cover;
}

/* contact us */
#contact-box {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}

#contact-box input,
textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 9px;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    width: 40%;
    font-size: 1.3rem;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary {
    font-family: 'Ubuntu', sans-serif;
    font-size: 4.8rem;
    padding: 12px;
}

.h-secondary {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    color: white;
    background-color: rgb(237 125 125 / 56%);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    padding: 10px;
    text-align: center;
}